<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Category2</title>
</head>
<style>
    h1 {
     padding: 5px;
    color:white;
    }
    h3 {
    color: grey;
    }
</style>
<body>
<body style="background: #343a40;">
  <div class="container mt-5">
      <h1>-:BLUE COLOR:-</h1>
      <h3>Blue is a color often found in nature, such as the pale blue of a daytime sky or the rich dark blue of a deep pool of water. This is perhaps why we often describe blue as calm and serene. Yet, as a cool color, blue can sometimes seem icy, distant, or even cold.Color psychology tells us a lot about the effects that certain colors can have on a person's mood, emotions, and behaviors.<h3>

  </div>
</body>
</body>
</html>