<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Category1</title>
</head>
<style>
    h3 {
    padding: 5px;
    color: grey;
    }
    h1 {
    padding: 30px;
    color: white;
    }
    .example_rem {
       letter_spacing: 3rem;
       color: grey;
    }
</style>
<body>
     <body style="background-color: #343a40;">
     <div class="container">
         <h1>-:FAVOURITE SONGS:-</h1>
         <h3>The Favourite songs are Manasavacha, Ramachakani Sitha, Andamga lena, Tippulu Tappulu.</h3>
         <div class="example_rem">1. Manasavacha : Manasavacha song is a Telugu movie song from the Godavari released on 2006. Music of Manasavacha song is composed by KM. Radhakrishnan. Manasavacha was sung by Unnikrishnan, Chitra. Download Manasavacha song from Godavari movie.
         </div>
         <div class="example_rem">2. Ramachakkani sitha : Ramachakkani Sitha is a Telugu language song and is sung by Gayathri and K.M. Radha Krishnan. Ramachakkani Sitha, from the album Godavari, was released in the year 2013.</p2>
         </div>
         <div class="example_rem">3. Andamga lena : Andanga lena is a Telugu language song and is sung by Sunitha and K.M. Radha Krishnan. Andangalena, from the album Godavari, was released in the year 2013. The duration of the song is 4:20.
         </div>
         <div class="example_rem">4. Tippulu Tappulu : Tippulu Tappulu is a Telugu language song and is sung by Shreya Ghoshal and K.M. Radha Krishnan. Tippulu Tappulu, from the album Godavari, was released in the year 2013. The duration of the song is 4:22.
         </div>
</body>
</body>
</html>