<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends "base2.html" %}
    {% block title %}Categories{% endblock %}
    {% block content %}
    <h2 class="mb-4">Categories</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                {% for category in categories %}
                <a href="#" class="list-group-item list-group-item-action">{{ Category }}
                    {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card-volumns">
            <div class="card">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Card title1</h5>
                    <p class="card-text">This is a longer card with suppporting text below as a natural lead-in to additional content.This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Card Image">
        <div class="card-body">
            <h5 class="card-title">Card Title4</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card">
        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Card Image">
        <div class="card-body">
            <h5 class="card-title">Card Title5</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.This content is a little bit longer.</p>
        </div>
    </div>
    {% endblock %}
</head>
<body>

</body>
</html>