<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<style>
    h1 {
     padding: 5px;
    color:white;
    }
    h2 {
    color: grey;
    }
    h3 {
    color: grey;
    }
    example_rem {
    letter_spacing: 2rem;
    color: grey;
    }
</style>
<body>
<body style="background: #343a40;">
  <div class="container mt-5">
      <h1>-:FAVOURITE FOODS:-</h1>
      <h2>Bingo lays, Mughlai Biryani<h2>
          <div class="example_rem"> Bingo Lays : A world of flavorful innovation with our crisp and bold creations. Marking a fusion of tantalizing flavors and a dash of digital inspiration, our chips are a byte-sized delight that pairs perfectly with your tech adventures.
              </div>
          <div class="example_rem">Mughlai Biryani : Mughlai Biryani uses basmati rice, meat (usually chicken or mutton), yoghurt, cream, nuts (such as almonds and cashews), dried fruits (like raisins), and a variety of aromatic spices including saffron, mace, and nutmeg. The preparation involves marinating the meat in yoghurt and spices, then cooking it until tender.
              </div>

  </div>
</body>
</body>
</html>