<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1 shrink-to-fit=no">
</head>
<style>
    h1 {
    padding:5px;
    color: white;
    }
    h3 {
    color: grey;
    }
    example_rom {
    letter_spacing:2rem;
    color: white;
    }
</style>
<body>
<body style="background-color:#343a40;">
<div class="container mt-5">
    <h1>-:FAVOURITE GAME:-</h1>
    <h3>Kho Kho, Shuttle</h3>
    <div class="example_rom">Kho kho : It is a traditional sport in India. Children play this game from an early age as a recreational tag game. Older people also have a similar attraction to it. Like Kabaddi, It is an outdoor sport and is considered to be a game of tactics and strategy. It is an extremely competitive game.
       </div>
    <div class="example_rom">Badminton : Badminton is a racket sport played by either two opposing players (singles) or two opposing pairs (doubles), who take positions on opposite halves of a rectangular court that is divided by a net. Players score points by striking a shuttlecock with their racket so that it passes over the net and lands in their opponents' half of the court. A rally ends once the shuttlecock has struck the ground, and the shuttlecock may only be struck once by each side before it passes over the net.
       </div>
</div>
</body>
</body>
</html>