<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Category2</title>
</head>
<style>
    h1 {
     padding: 5px;
    color:white;
    }
    h3 {
    color: grey;
    }
</style>
<body>
<body style="background: #343a40;">
  <div class="container mt-5">
      <h1>-:FAVOURITE CARTOON:-</h1>
      <h3>Doraemon is a manga series. Written and illustrated by Fujiko Fujio. This series is also a successful anime series. This story is about a robot cat Doraemon who travels around the world with his friend Nobita. The story starts with Doraemon who travels back from the 22nd century to fix a boy's problem named Nobita Nobi.The comedy is infused with a whimsical element, especially through Doraemon's gadgets, and the show's futuristic technology and fantasy setting pique viewers' imaginations. Because of its enduring tale, Doraemon has managed to endure across generations, evoking nostalgia in parents who introduce their kids to it.<h3>
  </div>
</body>
</html>